.single_hero_background {
  border-radius: 6px;
}

.carousel-container, [data-twe-carousel-init] {
  border-radius: 6px;
  overflow: hidden;
}

a.mailing-list-btn {
  border: 1px solid rgba(var(--color-primary-500), 1) !important;
  color: rgba(var(--color-neutral-700), 1) !important;
}

a.mailing-list-btn:hover {
  color: rgba(var(--color-primary-500), 1) !important;
  border-color: transparent !important;
}

.dark a.mailing-list-btn {
  color: rgba(var(--color-neutral-300), 1) !important;
}